<template>
  <div></div>
<!--  <q-page class="flex flex-center">-->

<!--  </q-page>-->
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "IndexPage",
});
</script>
