<template>
  <q-toolbar class="flex justify-between">
    <q-btn
      dense
      round
      aria-label="profile"
    >
      <q-avatar>
        <q-badge v-show="false" color="red" rounded floating />
        <img
          alt="profile"
          src="../../public/images/person_black_24dp.svg">
      </q-avatar>
    </q-btn>

    <img
      alt="alaa logo"
      src="~assets/quasar-logo-vertical.png"
      style="width: 50px; height: 50px"
    />

  </q-toolbar>
</template>

<script>
import { defineComponent } from "vue";
import { matPerson } from '@quasar/extras/material-icons'
export default defineComponent({
  name: "NavbarLayout",
  props: {},


  setup() {
    return {
      matMenu: matPerson
    }
  }
})
</script>
