// app global css in SASS form
@import "variables"
@import "mixins"

// import fonts
@font-face
  font-family: "YekanBakhLight"
  font-style: normal
  font-weight: 400
  src: url("../../public/fonts/yekanBakh/YekanBakhLight.ttf") format("truetype")

@font-face
  font-family: "YekanBakhBold"
  font-style: normal
  font-weight: 400
  src: url("../../public/fonts/yekanBakh/YekanBakhBold.ttf") format("truetype")

@font-face
  font-family: "YekanBakhMedium"
  font-style: normal
  font-weight: 400
  src: url("../../public/fonts/yekanBakh/YekanBakhMedium.ttf") format("truetype")

@font-face
  font-family: "YekanBakhRegular"
  font-style: normal
  font-weight: 400
  src: url("../../public/fonts/yekanBakh/YekanBakhRegular.ttf") format("truetype")


// root variables
\:root
  --background: #f8f7fc
  --backgroundNav: #FFFFFF
  --primary: #1B4AEF
  --secondary: #B53DFF
  --Bunting: #2B303A
  --ghost: #F8F7FC
  --white: #FFFFFF


// reset css
*,
::after,
::before
  box-sizing: border-box !important
  word-spacing: 2px
  //font-family: $fontFamily
  appearance: none
  -moz-appearance: none
  -webkit-appearance: none
  border: none
  background-color: transparent
  outline: none
  box-shadow: none
  -moz-box-shadow: none
  -webkit-box-shadow: none

html
  -ms-content-zooming: none
  -ms-touch-action: pan-x pan-y

html,
head,
body
  touch-action: none
  -ms-touch-action: none
  font-family: $fontFamily
  margin: 0
  padding: 0
  direction: rtl
html
  width: 100%
  height: 100%

body
  touch-action: pan-y pan-x
  width: 100%
  height: 100%

h1, h2, h3, h4, h5, h6, input, textarea
  font-family: $fontFamily !important

h1
  font-weight: 800

h2
  font-weight: 750

h3
  font-weight: 700

p
  font-weight: 400
  margin: 10px 0

a
  text-decoration: none

.rtl
  direction: rtl !important

.ltr
  direction: ltr !important


// public styles------------
.loading
  width: 100%
  height: 100%
  @include fullFlex
  //background-color: #15355A30
  backdrop-filter: blur(2px)

.fullFlex
  @include fullFlex
