<template>
  <q-layout class="layout" view="lHh Lpr lFf">
    <q-header class="header" elevated>
      <Navbar />
    </q-header>

    <q-page-container>
      <!--   Check loading status   -->
      <template v-if="loading">
        <Loading />
      </template>

      <template v-if="!loading">
        <router-view />
      </template>

    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from "vue";
import Navbar from './../components/Navbar';
import Loading from "components/Loading";

const linksList = [
  {
    title: "Docs",
    caption: "quasar.dev",
    icon: "school",
    link: "https://quasar.dev",
  },
];

export default defineComponent({
  name: "MainLayout",

  components: {
    Loading,
    Navbar
  },

  props: {
    onRefresh: {
      type: Object,
      required: false,
    },
    loading: {
      type: Boolean,
      required: false,
    },
    errors: {
      type: [Object, String],
      required: false,
    },
  },

  setup() {
    const leftDrawerOpen = ref(false);

    return {
      // essentialLinks: linksList,
      leftDrawerOpen,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value;
      },
    };
  },
});
</script>

<style lang="sass" scoped>
.layout
  background-color: var(--background)
  .header
    background-color: var(--backgroundNav)
</style>
